


html {
     background:url(../yo.jpeg.jpg);
	background-size: auto;
	     background-size: cover;
     height: 100vh;
}


.reddit {
	color:orange;
}

.google {
	color:white;
}

.linkden {
	color:blue;
	border-color:white;
}

.facebook {
	color:blue;
	border-color:white;
}

.twitter {
	color:blue;
	border-color:white;
}

a { 
	color:black;
}

#name {
	background-color: rgba(255, 255, 255, 0.1);
	cursor: pointer;
}

