html {
     background:url(pinksky.jpeg)
     
     );
	background-size: auto;
	     background-size: cover;
     height: 100vh;
}


.reddit {
	color:orange;
}

.google {
	color:white;
}

.linkden {
	color:blue;
	border-color:white;
}

.facebook {
	color:blue;
	border-color:white;
}

.twitter {
	color:blue;
	border-color:white;
}

.ph {
	color:orange;
}
a { 
	color:black;
}

#name {
	background-color: rgba(255, 255, 255, 0.1);
	cursor: pointer;
}

footer {
	color:white;
	font-size:24px;
}

a.l {
	color:white;
}

a:hover {
	color:gray;
}

